html, body {
  width: 100%;
  height: 100%;
  font-family: 'proxima-nova';
}
.to-top {

  & a.back-to-top {
    text-align: center;
    color: #fff;
    font-size: 1em;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 30%;
    background: #000;
    -webkit-transition: .5s;
    transition: .5s;
    top: 10px;
    position: relative;
    opacity: .5;
    &:hover {
      opacity: 1;
      line-height: 20px;
    }
  }
}


// Navbar
.navbar {

  & ul.navbar-nav .nav-item.login-btn a {
    color: #FFF !important;
    border: 1px solid #EAB741;
    padding: 5px;
    border-radius: 3%;
    background: #EAB741;
    transition: all .3s ease;
  }

  & ul.navbar-nav .nav-item.login-btn a:hover {
    background-color: #ffc107;
    border: 1px solid #eab741!important;
    box-shadow: 0 0 1px 0 #ffc107;
  }

  & .navbar-brand .logo {
    width: 40%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  & a.button-yellow {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #EAB741;
    box-shadow: 0 .2px 0 .2px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  &.navbar-shrink {
    box-shadow: -1px -2px 3px 0.6px;
  }
  & a.button-yellow {
    color: #EAB741;
  }
  & a.button-yellow:hover {
    color: #fff;
    cursor: pointer;
    border-color: #EAB741;
    background-color: #EAB741;
  }
}


a {
  color: #EAB741;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus {
    color: #fcbd20;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border: 1px solid rgba(34, 34, 34, 0.1);
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima-nova';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
  h2 {
    font-size: 50px;
  }
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'proxima-nova';
  font-weight: 200;
  letter-spacing: 1px;
  .navbar-brand {
    color: #EAB741;
    font-family: 'proxima-nova';
    font-weight: 200;
    letter-spacing: 1px;
    &:hover, &:focus {
      color: #fcbd20;
    }
  }
  .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
    margin-left: 1rem;
  }
  .navbar-nav > li > a {
    font-size: 12px;
    font-family: 'proxima-nova';
    letter-spacing: 2px;
    text-transform: uppercase;
    &.active {
      color: #EAB741 !important;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
    color: #222222;
    &:focus {
      color: #222222;
    }
    &:hover, &:focus:hover {
      color: #EAB741;
    }
  }
}

@media (min-width: 992px) {

  .navbar {

    & .navbar-brand .logo {
      width: 45%;
    }
    &.navbar-shrink .navbar-brand .logo {
      width: 30%;
    }
  }

  .navbar-shrink.navbar {
    height: 60px;
  }

  #mainNav {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      color: fade(white, 70%);
      &:hover, &:focus {
        color: white;
      }
    }
    .navbar-nav > li > a {
      color: rgba(255, 255, 255, 0.7);
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }
    &.navbar-shrink {
      border-color: rgba(34, 34, 34, 0.1);
      background-color: white;
      .navbar-brand {
        color: #222222;
        &:hover, &:focus {
          color: #EAB741;
        }
      }
      .navbar-nav > li > a {
        color: #222222;
        &:focus {
          color: #222222;
        }
        &:hover, &:focus:hover {
          color: #EAB741;
        }
      }
    }
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../images/337.jpg) no-repeat center center fixed;


  .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
    h1 {
      font-size: 30px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(165deg,rgba(0,39,86,.9),rgba(20,81,133,.9) 18%,#476e97 34%,#681b1b),radial-gradient(farthest-corner at bottom right,#1b3a68 0,#681b1b 66%,#145185 82%,#002756 100%) no-repeat 50% fixed;
    opacity: .9;
  }
  .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
    .screen img {
      border-radius: 3px;
    }
  }
}

@media (min-width: 350px) {
  .navbar a.button-yellow {
    float: right;
    left: 20%;
    margin-right: 4rem;
  }
}

@media (min-width: 575px) {
  .navbar a.button-yellow {

    left: 23%;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    .header-content {
      margin-bottom: 0;
      text-align: left;
      h1 {
        font-size: 45px;
      }
    }
    .device-container {
      max-width: 325px;
    }
  }
}

section {
  &.download {
    position: relative;
    padding: 150px 0;
    h2 {
      font-size: 50px;
      margin-top: 0;
    }
    .badges .badge-link {
      display: block;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 60px;
      }
    }
  }
  &.features {
    .section-heading {
      margin-bottom: 0;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .device-container, .feature-item {
      max-width: 325px;
      margin: 0 auto;
    }
    .device-container {
      margin-bottom: 100px;
    }
    .feature-item {
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      h3 {
        font-size: 30px;
      }
      i {
        font-size: 80px;
        display: block;
        margin-bottom: 15px;
        background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
        background: linear-gradient(to left, #7b4397, #dc2430);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &.cta {
    position: relative;
    padding: 250px 0;
    background: url(../images/bg-pattern.png) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .cta-content {
      position: relative;
      z-index: 1;
      h2 {
        font-size: 50px;
        max-width: 450px;
        margin-top: 0;
        margin-bottom: 25px;
        color: white;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  &.contact {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 25px;
      i {
        color: #dd4b39;
      }
    }
    ul.list-social {
      margin-bottom: 0;
      li {
        a {
          font-size: 40px;
          line-height: 80px;
          display: block;
          width: 80px;
          height: 80px;
          color: white;
          border-radius: 100%;
        }
        &.social-twitter a {
          background-color: #1da1f2;
          &:hover {
            background-color: #0d95e8;
          }
        }
        &.social-facebook a {
          background-color: #3b5998;
          &:hover {
            background-color: #344e86;
          }
        }
        &.social-google-plus a {
          background-color: #dd4b39;
          &:hover {
            background-color: #d73925;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
  p {
    font-size: 12px;
    margin: 0;
  }
  ul {
    margin-bottom: 0;
    li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3);
      &:hover, &:focus, &:active, &.active {
        text-decoration: none;
      }
    }
  }
}

.bg-primary {
  background: #EAB741;
  background: -webkit-linear-gradient(#EAB741, #fdc539);
  background: linear-gradient(#EAB741, #fdc539);
}

.text-primary {
  color: #EAB741;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid #fff;
  &:hover, &:focus, &:active, &.active {
    color: white;
    border-color: #EAB741;
    background-color: #EAB741;
  }
}

.btn {
  border-radius: 4%;
  font-family: 'proxima-nova';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 12px;
  padding: 15px 45px;
}