/*
 *	HTML5 Device Mockups
 *
 *  Added by ben182 (@beno182):
 *		- iPhone 6
 *		- iPhone SE
 *		- iPad Air
 *		- iPad Air 2
 *		- iPad Pro
 *		- Macbook 2015

 */

/* GENERAL STYLE */

.device-mockup {
  position: relative;
  width: 100%;
  padding-bottom: 61.775701%;
  > .device {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85%;
    height: 85%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/macbook_2015/grey.png");
    > {
      .screen {
        position: absolute;
        top: 11.0438729%;
        bottom: 14.6747352%;
        left: 13.364486%;
        right: 13.364486%;
        overflow: hidden;
      }
      .button {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        overflow: hidden;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        cursor: pointer;
      }
    }
  }
  &.macbook_2015 {
    padding-bottom: 57.50%;
    > .device, &.grey > .device {
      background-image: url("../img/macbook_2015/grey.png");
    }
    > .device, &.silver > .device {
      background-image: url("../img/macbook_2015/silver.png");
    }
    > .device, &.gold > .device {
      background-image: url("../img/macbook_2015/gold.png");
    }
    > .device > .screen {
      top: 7.5%;
      bottom: 10.9%;
      left: 12.46%;
      right: 12.56%;
    }
  }
}
/* iPhone 6 */

.device-mockup.iphone6 {
  padding-bottom: 207.19%;
  &.portrait {
    padding-bottom: 207.19%;
  }
  &.landscape {
    padding-bottom: 48.76%;
  }
  > .device, &.black > .device, &.portrait.black > .device {
    background-image: url("../img/iphone_6/iphone_6_port_black.png");
  }
  &.landscape {
    > .device, &.black > .device {
      background-image: url("../img/iphone_6/iphone_6_land_black.png");
    }
  }
  &.white > .device, &.portrait.white > .device {
    background-image: url("../img/iphone_6/iphone_6_port_white.png");
  }
  &.landscape.white > .device {
    background-image: url("../img/iphone_6/iphone_6_land_white.png");
  }
  &.gold > .device, &.portrait.gold > .device {
    background-image: url("../img/iphone_6/iphone_6_port_gold.png");
  }
  &.landscape.gold > .device {
    background-image: url("../img/iphone_6/iphone_6_land_gold.png");
  }
  > .device > .screen, &.portrait > .device > .screen {
    top: 12.58%;
    bottom: 12.88%;
    left: 6.77%;
    right: 6.77%;
  }
  &.landscape > .device > .screen {
    top: 6.77%;
    bottom: 6.77%;
    left: 12.58%;
    right: 12.88%;
  }
  > .device > .button, &.portrait > .device > .button {
    display: block;
    top: 88.6%;
    bottom: 3.2%;
    left: 42%;
    right: 42%;
  }
  &.landscape > .device > .button {
    display: block;
    top: 42%;
    bottom: 42%;
    left: 88.6%;
    right: 3.2%;
  }
}