.login {
  .vertical-center {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 30px;
    border-radius:3px;
    text-align: center;
    .thumbnail {
      background: #EF3B3A;
      width: 150px;
      height: 150px;
      margin: 0 auto 30px;
      padding: 50px 30px;
      border-radius:100%;
      box-sizing: border-box;
      img {
        display: block;
        width: 100%;
      }
    }
    input {
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      border-radius:3px;
      box-sizing: border-box;
      font-size: 14px;
    }
    button {
      outline: 0;
      background: #EF3B3A;
      width: 100%;
      border: 0;
      padding: 15px;
      border-radius:3px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
      a {
        color: #EF3B3A;
        text-decoration: none;
      }
    }
  }
}