// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@font-face {
  font-family: "proxima-nova";
  src: url("https://fonts.luna1.co/proxima-nova/ProximaNova-RegWeb.eot");
  src: url("https://fonts.luna1.co/proxima-nova/ProximaNova-RegWeb.eot#iefix") format("embedded-opentype"),
  url("https://fonts.luna1.co/proxima-nova/ProximaNova-RegWeb.woff") format("woff");
  //font-weight: 400;
}

// Variables
@import "bootstrap";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font Awesome
@import "~font-awesome/scss/font-awesome";

// Helpers
//@import "../helpers";

// Global
//@import "global";

// Pages
@import "pages/dashboard";
@import "pages/device-mockups";
@import "pages/simple-line-icons";

// Plugins
//@import "../plugin/toastr/toastr.scss";
//@import "../plugin/sweetalert/sweetalert.scss";